@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color:black;
}

img {
    height: 100px;
    vertical-align: middle;
    text-decoration: none;
}

/* Headings and Logo */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: Black;
    text-decoration: none;
}

#logo-text {
    float: none;
    font-size: 110%;
    width: 20%;
    color: grey;
    text-decoration: none;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 3%;
}


/* Navigation Links*/

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo-text {
    line-height: 75%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 3%;
}

#menu a {
    text-decoration: none;
    color: grey;
}

#menu a {
    text-decoration: none;
    color: grey;
}

#menu a:hover {
    color: black;
}

.active {
    color: black;
    border-bottom: 1px solid black;
}

/*hero-image and cover text*/

#welcome-text, #welcome-text h2 .box {
    color: black;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url(../images/rsz_empty_yoga_studio.jpg) no-repeat center center;
}

#welcome-text {
    font-size: 100%;
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 360px;
    height: 70px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(56, 190, 200, 0.17);

    bottom: 300px;
    left: 90px;

    position: absolute;

}

.box {
    font-size: 80%;
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    display:inline-block;
    width: 100px;
    height: 20px;
    background-color:rgba(63, 213, 162, 0.97);
    border:1px solid black;
    bottom: 250px;
    left: 90px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
        

    position: absolute;
}

/* wellbeing links*/

#wellbeing-links {
    height: 600px;
}

#left-pic{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-pic {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-pic {
    width: 33%;
    margin: 0 auto;
}



