@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color:black;
    background: url(../images/cool-background.png);
}

/* Header and Logo */

h1, h2, {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
}

#logo-text {
    float: left;
    font-size: 280%;
    margin-left: 90px;
    text-decoration: none;
    color: black;
}

/* Navigation Links*/

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 90px;
    margin-top: 10px;
}

#menu a {
    text-decoration: none;
    color: grey;
}

#menu a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/*hero-image and cover text*/

#welcome-text, #welcome-text h2 .box {
    color: black;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url(../images/rsz_empty_yoga_studio.jpg) no-repeat center center;
}

#welcome-text {
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 360px;
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(56, 190, 200, 0.17);

    bottom: 300px;
    left: 90px;

    position: absolute;

}

.box {
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    display:inline-block;
    width: 100px;
    height: 20px;
    background-color:rgba(63, 213, 162, 0.97);
    border:1px solid black;
    bottom: 250px;
    left: 90px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 80%;
    
    position: absolute;
}

/* wellbeing links*/

#wellbeing-links {
    height: 600px;
}

#left-pic{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-pic {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-pic {
    width: 33%;
    margin: 0 auto;
}

/* center text and image */

#wellbeing {
    margin: 30px 0;
    text-align: center;
    font-size: 200%;
}

#center-circle-container {
    width: 300px;
    height: 350px;
    padding: 30px;
    border-style: none;
    border-color: none;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#center-circle-cover-bg {
    background: url(../images/ashtanga.jpg) no-repeat center bottom;
    height: 100%;
    border-radius: 50%;
}

#center-text {
    text-align: center;
}

.strong {
    text-decoration: none;
    color: black;
    
}

#ash {
    font-size: 100%;
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 30px;
    background-color: rgba(56, 190, 200, 0.17);
    bottom: 100px;
    left: 10px;
    position: relative;
}

/* right-text and image */

#right-circle-container {
    width: 300px;
    height: 350px;
    padding: 30px;
    border-style: none;
    border-color: none;
    border-width: 1px;
    border-radius: 50%;
    float: right;
}

#right-circle-cover-bg {
    background: url(../images/meditation.jpg) no-repeat center right;
    height: 100%;
    border-radius: 50%;
}

#right-text {
    text-align: center;
    float: right;
}

.peace {
    text-decoration: none;
    color: black;
    
}

#meditate {
    font-size: 100%;
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 30px;
    background-color: rgba(56, 190, 200, 0.17);
    bottom: 100px;
    left: 10px;
    position: relative;
}

/* left-text and image */

#left-circle-container {
    width: 300px;
    height: 350px;
    padding: 30px;
    border-style: none;
    border-color: none;
    border-width: 1px;
    border-radius: 50%;
    float: left;
}

#left-circle-cover-bg {
    background: url(../images/beginners\ yoga.jpg) no-repeat center left;
    height: 100%;
    border-radius: 50%;
}

#left-text {
    text-align: center;
    float: left;
}

.step {
    text-decoration: none;
    color: black;
    
}

#beginners {
    font-size: 100%;
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 30px;
    background-color: rgba(56, 190, 200, 0.17);
    bottom: 100px;
    left: 10px;
    position: relative;
}

/* footer */



.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: grey;
}

/* About */

#intro {
    clear: both;
    text-align: center;
    padding-top: 20px;

}

#intro > img {
    width: 100%;
    padding-top: 20px;
}

#intro > h1 {
    padding-bottom: 20px;
}

.card {
    float: left;
    display: inline;
    width: 33%;
}

.view {
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    display:inline-block;
    width: 250px;
    height: 20px;
    background-color:rgba(63, 213, 162, 0.97);
    border:1px solid black;
    margin-top: 30px;
}

.view > a {
    text-decoration: none;
    color: black;
}

/* schedule */

.studio-sched {
    clear: both;
    padding-top: 30px;
    margin-left: 90px;
}

table {
	width: 90%;
    margin-left: 90px;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

tr, th, td {
	text-align: left;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

.table-title {
    text-transform: uppercase;
    background-color: rgba(63, 213, 162, 0.97);
}

/* booking-form*/

.contain {
    margin-left: 30px;
}

.booking-box {
    background:white;
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
}

.booking-left {
    flex-basis: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    background: rgba(63, 213, 162, 0.97);
}

.picture-right {
    flex-basis: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.input-row {
    margin-right: 50%;
    margin-bottom: 20px;
}

input {
    width: 100%;
    border: 1px solid black;
    padding-left: 5px;
}

textarea {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
}

label {
    margin-top: 6px;
    display: block;
}

button {
    background: black;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}

.booking-left h3 {
    margin-bottom: 20px;
}

/* contact and map */

.container {
    margin-left: 90px;
    padding-top: 50px;
    clear: both;
}

.contact-box {
    background: white;
    display: flex;
    margin-right: 90px;
}

.contact-left {
    flex-basis: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.contact-right {
    flex-basis: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba(63, 213, 162, 0.97);
}

.container h2 {
    margin-bottom: 40px;
}

.contact-right h3 {
    margin-bottom: 30px;
}

.contact-left h3 {
    margin-bottom: 30px;
}

.contact-right tr td {
    padding-top: 20px;
    border: none;
}

 
            
            