@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color:black;
}

img {
    height: 100px;
    vertical-align: middle;
    text-decoration: none;
}

/* Headings and Logo */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: Black;
    text-decoration: none;
}

#logo-text {
    float: none;
    font-size: 110%;
    width: 20%;
    color: grey;
    text-decoration: none;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 3%;
}


/* Navigation Links*/

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo-text {
    line-height: 75%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 3%;
}

#menu a {
    text-decoration: none;
    color: grey;
}

#menu a {
    text-decoration: none;
    color: grey;
}

#menu a:hover {
    color: black;
}

.active {
    color: black;
    border-bottom: 1px solid black;
}

/*hero-image*/

#hero-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url(../images/yoga\ studio\ small.jpg) no-repeat center center;
}


